<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrder"/>
                <binding name="BasicHttpBinding_ICustomer"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrder"/>
                <binding name="NetTcpBinding_ICustomer"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Order/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrder" contract="OrderService.IOrder" name="BasicHttpBinding_IOrder"/>
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/CustomerCloud.WCF/Order/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrder" contract="OrderService.IOrder" name="NetTcpBinding_IOrder">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Customers/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomer" contract="CustomerService.ICustomer" name="BasicHttpBinding_ICustomer"/>
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/CustomerCloud.WCF/Customers/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomer" contract="CustomerService.ICustomer" name="NetTcpBinding_ICustomer">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
